---
layout: default
---

<header>
  {% include disclaimer.html %}

  <div class="banner">
    <h1>Open Opportunity Data</h1>
    <p class="usa-font-lead">Let's build something amazing. This site is dedicated to providing developers, entrepreneurs, policy makers, and all passionate change agents the data they need in order to create transformational products and services for those that need them most</p>
  </div>
</header>

<article>
  {% include_relative index_includes/data-inventory.html %}
</article>

<article class="alt">
  {% include_relative index_includes/personas.html %}
</article>
